<main class="cf pa2">
  <hr>
  <div class="fl w-100 w-50-ns ph2">

    <a ui-sref="categoriesIndex({id:2})" class="no-underline pv2 grow db"><img class="db w-100" src="/images/categories/2.jpg"></a>
    <a ui-sref="categoriesIndex({id:1})" class="no-underline pv2 grow db"><img class="db w-100" src="/images/categories/6.jpg"/></a>
  </div>
  <div class="fl w-50 w-25-ns ph2">
    <a ui-sref="categoriesIndex({id: category})" class="pv2 grow db no-underline black" hover-bg-black><img class="db w-100" src="/images/categories/3.jpg"></a>
    <a ui-sref="categoriesIndex({id:1})" class="link b black pv2 db bg-animate hover-bg-black f6 f5-ns dib mr3 mr4-ns">
      <header class="tc ph4">
      <h1 class=" lh-copy white pa1 tracked-tight f-headline-l bg-gold sans-serif measure-narrow lh-title mv0 f1 f1-m mv3 grow">
        Manimal
      </h1>
      <h2 class="f5 f4-m f3-l fw2 black-50 mt0 bg-black-90 lh-copy white pa1 tracked-tight lh-copy grow" >
        The Online Store for Men
      </h2>
      <img src="images/2999.jpg" ui-sref="home" class="fr dib w5 h5 br-100 grow">
    </header></a>
    <a ui-sref="categoriesIndex({id: category.id})" class="pv2 grow db no-underline black"><img class="db w-100" src="/images/categories/5.jpg"> </a>
  </div>

  <div class="fl w-50 w-25-ns ph2">
    <a ui-sref="categoriesIndex({id: category.id})" class="pv2 grow db no-underline black"><img class="db w-100" src="/images/categories/4.jpg"></a>
    <a ui-sref="categoriesIndex({id: category.id})" class="pv2 grow db no-underline black"><img class="db w-100" src="/images/categories/1.jpg"></a>

  </div>
  <header class="bg-white sans-serif">
    <div class="mw9 center pa4 pt5-ns ph7-l">
      <time class="f6 mb2 dib ttu tracked"><small></small></time>
      <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
        <span class="bg-black-90 lh-copy gold pa1 tracked-tight">
          "Whoever said money can’t buy happiness simply didn’t know where to go shopping.
        </span>
      </h3>
      <h4 class="f3 fw1 georgia i"></h4>
      <h5 class="f6 ttu tracked black-80"></h5>
    </div>
  </header>

  </main>
