<h1 class=" lh-copy white pa1 tracked-tight f-headline-l bg-black sans-serif measure-narrow lh-title mv0 f1 f1-m mv3">Login <img ng-mouseover="login.gorillaImg = 'images/3000.jpg'"  ng-mouseleave="login.gorillaImg = 'images/2999.jpg'" src="{{ login.gorillaImg }}" ui-sref="home" class="fr dib w5 h5 br-100 grow">
</h1>

<!-- <div class="row">

  <form name="form" ng-submit="login.login()">

    <div class="form-group col-md-4 col-md-offset-4">
      <label>Email Address</label>
      <input ng-model="login.user.email" name="email" type="email" class="form-control" placeholder="Email Address" required>
      <div ng-show="form.email.$touched">
        <div ng-messages="form.email.$error">
          <div ng-message="required">This field is required</div>
        </div>
      </div>
    </div>


    <div class="form-group col-md-4 col-md-offset-4">
      <label>Password</label>
      <input ng-model="login.user.password" name="password" type="password" class="form-control" placeholder="Password" >
      <div ng-show="form.password.$touched">
        <div ng-messages="form.password.$error">
          <div ng-message="required">This field is required</div>
        </div>
      </div>
    </div>
<div class="col-md-4 col-md-offset-4">

    <button type="submit" class="btn btn-default form-control">Login</button>
</div>
</form>
</div>

<div class="fixIt"> -->

</div>
<article class="pa4 black-80">
  <form ng-submit="login.login()" method="get" accept-charset="utf-8">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="ph0 mh0 fw6 clip">Sign Up</legend>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="email-address">Email address</label>
        <input  ng-model="login.user.email" class="pa2 input-reset ba bg-transparent w-100 measure" type="email" name="email-address"  id="email-address">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="password">Password</label>
        <input input ng-model="login.user.password" class="b pa2 input-reset ba bg-transparent w-100 measure" type="password" name="password"  id="password">
      </div>
    </fieldset>
    <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" button type="submit" value="Login"></div>
  </form>
</article>
<!-- <article class="vh-100 dt w-100 bg-gold">
  <div class="dtc v-mid tc white ph3 ph4-l">
  <article class="pa4 black-80">
    <form name="form" ng-submit="login.login()" action="sign-up_submit" method="get" accept-charset="utf-8">
      <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
        <legend class="ph0 mh0 fw6 clip">Login</legend>
        <div class="mt3">

          <label class="db fw4 lh-copy f6 white sans-serif" for="email-address">Email address</label>
          <input ng-model="login.user.email" class="pa2 input-reset white ba bg-black w-100 measure" type="email" name="email-address"  id="email-address">
        </div>
        <div class="mt3">
          <label class="db fw4 lh-copy f6" for="password">Password</label>
          <input ng-model="login.user.password" class="b pa2 input-reset white ba bg-black" type="password" name="password"  id="password">
        </div>
      </fieldset>
      <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Log in"></div>
    </form>
  </article> -->


</div>
<header class="bg-white sans-serif">
  <div class="mw9 center pa4 pt5-ns ph7-l">
    <time class="f6 mb2 dib ttu tracked"><small></small></time>
    <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
      <span class="bg-black-90 lh-copy gold pa1 tracked-tight">
        "If men liked shopping, they’d call it research.".
      </span>
    </h3>
    <h4 class="f3 fw1 georgia i"></h4>
    <h5 class="f6 ttu tracked black-80"></h5>
  </div>
</header>
