<h1 class=" lh-copy white pa1 tracked-tight f-headline-l bg-gold sans-serif measure-narrow lh-title mv0 f1 f1-m mv3">Register <img ng-mouseover="login.gorillaImg = 'images/3000.jpg'"  ng-mouseleave="login.gorillaImg = 'images/2999.jpg'" src="{{ login.gorillaImg }}" ui-sref="home" class="fr dib w5 h5 br-100 grow">

</h1>


      <!-- <div ng-submit="register.register()" >

        <div class="pa3 pa5-ns">
          <ul class="list pl0 measure center">
            <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30">
              <div class="form-group col-md-4 col-md-offset-4">
                <label class="col-2 col-form-label">Username</label>
                <div class="col-10">
                  <input ng-model="register.user.username" name="username" class="form-control" type="text" placeholder="Username" >
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="pa3 pa5-ns">
          <ul class="list pl0 measure center">
            <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30">
              <div class="form-group col-md-4 col-md-offset-4">
                <label for="email">Email address</label>
                <input  ng-model="register.user.email" name="email" type="email"  aria-describedby="emailHelp" placeholder="Enter email">
              </div>
            </li>
          </ul>
        </div>

        <div class="pa3 pa5-ns">
          <ul class="list pl0 measure center">
            <li ng-model="register.user.password" class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30" type="password" >
                <label for="password">Password</label>
                <input ng-model="register.user.password" name="password" type="password"  placeholder="Password">
            </li>
          </ul>
        </div>

        <div class="pa3 pa5-ns">
          <ul class="list pl0 measure center">
            <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30">
              <div class="form-group col-md-4 col-md-offset-4">
                <label for="password_confirmation">Password Confimation</label>
                <input ng-model="register.user.password_confirmation" name="password_confirmation" type="password" class="form-control" placeholder="Password">
              </div>
            </li>
          </ul>
        </div>

        <div class="pa3 pa5-ns">
          <ul class="list pl0 measure center">
            <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30">
              <div class="form-group col-md-4 col-md-offset-4">
                <button type="submit" class="btn btn-default form-control">Register</button>
              </div>
            </li>
          </ul>
        </div>
    </div> -->


    <article class="pa4 black-80">
      <form ng-submit="register.register()" method="get" accept-charset="utf-8">
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
          <legend class="ph0 mh0 fw6 clip">Sign Up</legend>

          <div class="mt3">
            <label class="db fw4 lh-copy f6" for="username">Username</label>
            <input  ng-model="register.user.username" class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="username"  id="username">
          </div>


          <div class="mt3">
            <label class="db fw4 lh-copy f6" for="email-address">Email</label>
            <input ng-model="register.user.email" class=" pa2 input-reset ba bg-transparent w-100 measure" type="email" name="Email"  id="email">
          </div>

          <div class="mt3">
            <label class="db fw4 lh-copy f6" for="password">Password</label>
            <input ng-model="register.user.password" class="b pa2 input-reset ba bg-transparent w-100 measure" type="password" name="Password"  id="password">
          </div>

          <div class="mt3">
            <label class="db fw4 lh-copy f6" for="password">Password Confirmation</label>
            <input ng-model="register.user.password_confirmation" class="b pa2 input-reset ba bg-transparent w-100 measure" type="password" name="Password Confirmation"  id="PasswordConfirmation">
          </div>



        </fieldset>
        <div class="mt3"><input ng-submit="register.register()" class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" button type="submit" value="Register"></div>
      </form>
    </article>


      <header class="bg-white sans-serif">
        <div class="mw9 center pa4 pt5-ns ph7-l">
          <time class="f6 mb2 dib ttu tracked"><small></small></time>
          <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
            <span class="bg-black-90 lh-copy gold pa1 tracked-tight">
              "I like my money right where I can see it: Hanging in my closet.".
            </span>
          </h3>
          <h4 class="f3 fw1 georgia i"></h4>
          <h5 class="f6 ttu tracked black-80"></h5>
        </div>
      </header>
