<!-- <h2>{{ users.user.first_name }} {{ users.user.last_name }}</h2>
<h3>{{ users.user.email }}</h3> -->


<h1 class=" bg-black sans-serif lh-copy gold pa1 tracked-tight f-headline-l measure-narrow lh-title mv0 f1 f1-m mv3">Basket <img ng-mouseover="show.gorillaImg = 'images/3000.jpg'"  ng-mouseleave="show.gorillaImg = 'images/2999.jpg'" src="{{ show.gorillaImg }}" ui-sref="home" class="fr dib w5 h5 br-100 grow">
  <!-- <img id="front" src="images/3000.jpg" ui-sref="home" class="fr dib w5 h5 br-100 absolute"> -->
</h1>
<br>
<br>
<header class="tc pv4 pv5-ns">
  <br>
  <img src="images/2005.jpg" class="br-100 pa1 ba b--black-10 h3 w3" alt="avatar">
  <h1 class="f5 f4-ns fw6 mid-gray">{{ users.user.first_name }} {{ users.user.last_name }}</h1>
  <h2 class="f6 gray fw2 ttu tracked">{{ users.user.email }}</h2>
    <h2 class="f6 gray fw2 ttu tracked">{{ users.user.user_type }}</h2>
</header>

<div class="mw6">
  <div ng-show="users.user.likes">
    <h4>Products</h4>
    <img src="{{ like.product.image }}" ng-repeat="like in users.user.likes">
    <button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib gold bg-black" ng-click="users.removeLike(like)">Remove from list</button>
  </div>
</div>
