<h1 class=" lh-copy gold pa1 tracked-tight f-headline-l bg-gold sans-serif measure-narrow lh-title mv0 f1 f1-m mv3 sunny">{{ categories.category.name }} Brands <img ng-mouseover="categories.gorillaImg = 'images/3000.jpg'" ng-mouseleave="categories.gorillaImg = 'images/2999.jpg'" src="{{categories.gorillaImg}}" ui-sref="home" class="fr dib w5 h5 br-100 grow">
</h1>
<br>
<br>
<div>
  <div class="cf pt5" >
    <div ng-repeat="product in categories.category.brands">
      <div class="fl w-50 w-25-m w-33-l pa2 grow">
        <p class ="bg-black sans-serif lh-copy gold pa1 tracked-tight f-headline
         measure-narrow lh-title mv0 f1 f1-m mv3 center sunny ">{{product.name}}</p>
        <a ui-sref="brandsShow({id: product.id})"  class="aspect-ratio aspect-ratio--1x1 db link dim tc" >
          <div class="aspect-ratio--object cover w-100 db outline black-10"
          style="background: url({{product.image}}) center;">&nbsp;</div>
        </a>

      </div>
    </div>
  </div>
</div>
<header class="bg-white sans-serif">
  <div class="mw9 center pa4 pt5-ns ph7-l">
    <time class="f6 mb2 dib ttu tracked"><small></small></time>
    <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
      <span class="bg-black-90 lh-copy gold pa1 tracked-tight">
        "Chocolate, men, coffee – some things are better rich."
      </span>
    </h3>
    <h4 class="f3 fw1 georgia i">– Rodney Dangerfield</h4>
    <h5 class="f6 ttu tracked black-80"></h5>
  </div>
</header>
