<h1 class=" lh-copy black pa1 tracked-tight f-headline-l bg-gold sans-serif measure-narrow lh-title mv0 f1 f1-m mv3 productbackground">{{ products.product.name }}<img ng-mouseover="login.gorillaImg = 'images/3000.jpg'"  ng-mouseleave="login.gorillaImg = 'images/2999.jpg'" src="{{ login.gorillaImg }}" ui-sref="home" class="fr dib w5 h5 br-100 grow">
</h1>
<br>
<br>

<img class="{{brands.product.images}}">
<img class="{{vm.products}}">

<div>
<div class="cf pt5" >
  <div ng-repeat="product in products.product.name">
    <div class="fl w-50 w-25-m w-33-l pa2 grow" >
      <a ui-sref="productsShow({id: products.product.id})"  class="aspect-ratio aspect-ratio--1x1 db link dim tc" >
        <img class="{{products.product.image}}">
        <div class="aspect-ratio--object cover w-100 db outline black-10 br-75"
        style="background: url({{product.image}}) center;">&nbsp;</div>
      </a>
      <p>{{product.name}}</p>
    </div>
  </div>
</div>
</div>




<img ng-src="products.product.image" alt="" ng-repeat="{{products.product}}">
<button class="f6 grow no-underline br-pill ph3 pv2 mb2 dib gold bg-black" ng-disabled="products.disabled" ng-click="products.likeProduct()">Add To Basket</button>
<div class="dt-ns dt--fixed-ns">
